[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "==3.0.*"
django-filter = "*"
pillow = "*"
psycopg2 = "*"
django-storages = "*"
boto3 = "*"
gunicorn = "*"
whitenoise = "*"
dj-database-url = "*"

[requires]
python_version = "3.7"
